
<p id="notice"><%= notice %></p>

<div class="people-container">
<h1>Characters and shows</h1>
<div class="screen" id="screen"></div>
<div id="people-list" class="people-list"></div>



<div class="add-people-box" id="add-people-box">
<form class="add-people-form">
  <input type="text" class="enter-form" name="name" placeholder="Add new person">
  <input type="text" class="enter-form" name="city" placeholder="Persons city">
  <input type="text" class="enter-form" name="state" placeholder="Persons state"><br>
  <input type="text" class="enter-form" name="show" placeholder="Show"><br>
  <input type="text" class="enter-form" name="pic" placeholder="Portrait url"><br>
  <input type="submit" class="enter-button" value="add">
</form>
</div>



</div>

